<div id="content" class="d-flex flex-column">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6">
        <app-password-change-success *ngIf="isSuccessful == true"></app-password-change-success>
        <app-password-change-fail *ngIf="isCodeValid == false"></app-password-change-fail>
        <div *ngIf="isSuccessful != true && isCodeValid == true" class="card shadow-lg o-hidden border-0 my-5">
          <div class="card-body p-0">
            <div class="row justify-content-center">
              <div class="p-5">
                <div class="text-center">
                  <h4 class="text-dark mb-4">Wirtualna Uczelnia</h4>
                  <div *ngIf="isSuccessful == false" class="alert alert-danger" role="alert">
                    Coś poszło nie tak. Spróbuj ponownie później.
                  </div>
                  <p class="text-dark mb-4">Podaj nowe hasło</p>
                </div>
                <form [formGroup]="myForm" class="user">
                  <div class="form-group"><input formControlName="password" type="password"
                                                 class="form-control form-control-user"
                                                 [ngClass]="{'is-invalid': password.invalid && (password.touched || submitClicked)}"
                                                 id="password" placeholder="Nowe hasło" name="password"/>
                    <div *ngIf="password.errors?.required && ((password.touched) || submitClicked)"
                         class="invalid-feedback validation-message-wrapper">
                      <p class="validation-message">To pole jest wymagane</p>
                    </div>
                    <div *ngIf="password.errors?.pattern && (password.touched)"
                         class="invalid-feedback validation-message-wrapper">
                      <p class="validation-message">Hasło musi zawierać minimum 8 znaków, cyfry, małe i wielkie
                        litery</p>
                    </div>
                  </div>
                  <div class="form-group"><input formControlName="confirmPassword" type="password"
                                                 class="form-control form-control-user"
                                                 id="confirmPassword" placeholder="Powtórz nowe hasło"
                                                 [ngClass]="{'is-invalid': confirmPassword.invalid && (confirmPassword.touched || submitClicked)}"
                                                 name="password2"/>
                    <div *ngIf="confirmPassword.errors?.required && ((confirmPassword.touched) || submitClicked)"
                         class="invalid-input">
                      <small>To pole jest wymagane</small>
                    </div>
                    <div
                      *ngIf="myForm.errors?.passwordNotMatch && !confirmPassword.errors?.required && (confirmPassword.touched || submitClicked)"
                      class="invalid-input">
                      <small>Hasła muszą być takie same</small>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-block text-white btn-user" type="submit" (click)="onSave()">
                    Zapisz
                  </button>
                  <hr/>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
