#footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.invalid-input {
  color: #e74a3b;
}

.validation-message-wrapper {
  display: flex;
}

.validation-message {
  flex-grow: 1;
  width: 0;
}
