<div class="container-fluid">
  <h3 class="text-dark mb-4">Zespoły</h3>
  <div class="card shadow">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-6 text-nowrap">
          <p class="m-0 font-weight-bold text-primary">Informacje o zespołach</p>
        </div>
        <div class="col-md-6">
          <div class="text-md-right" id="dataTable_filter">
            <button *ngIf="isTeacher" class="btn btn-primary btn-sm" (click)="openDialog()">Dodaj zespół</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
        <table class="table my-0" id="dataTable">
          <thead>
          <tr>
            <th>Nazwa</th>
            <th>Opis</th>
          </tr>
          </thead>
          <tbody>
          <tr style="cursor:pointer" *ngFor="let item of teams | async; let i = index" (click)="onTeamSelected(item.id)">
            <td>{{item.title}}</td>
            <td style="text-overflow: ellipsis;">
              <p
                style="text-overflow: ellipsis;width: 40ch;overflow: hidden;white-space: nowrap;">
                {{item.description}}</p>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td><strong>Nazwa</strong></td>
            <td><strong>Opis</strong></td>
          </tr>
          </tfoot>
        </table>
      </div>
      <div class="row">
        <div class="col-md-6 align-self-center">
          <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Wyświetlono {{displayedFrom}}
            do {{displayedTo}} z
            {{teamsCount}}</p>
        </div>
        <div class="col-md-6">
          <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
              <li [ngClass]="{'disabled': page <= 1}" class="page-item"><a class="page-link pointer"
                                       [routerLink]="['/teams']"
                                       [queryParams]="{page: page-1}"
                                       aria-label="Previous"><span
                aria-hidden="true">«</span></a></li>
              <li *ngFor="let item of paginationButtonsValues; let i = index" [ngClass]="{'active': item == page, 'disabled': item > totalPagesCount}"
                  class="page-item"><a
                [routerLink]="['/teams']" [queryParams]="{page: item}"
                class="page-link">{{item}}</a></li>
              <li [ngClass]="{'disabled': page >= totalPagesCount}" class="page-item"><a class="page-link pointer" aria-label="Next" [routerLink]="['/teams']"
                                       [queryParams]="{page: page+1}"><span
                aria-hidden="true">»</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
