<div class="row">
  <div class="col-6 text-left">
  </div>
  <div class="col-6 text-md-right">
    <button class="mb-3 btn btn-primary btn-sm" (click)="modal.open(modalChangeGroup, {size: 'lg'})">
      <fa-icon [icon]="faPencil">
      </fa-icon>&nbsp;Zmiana terminu zajęć
    </button>
  </div>
</div>
<div class="card shadow">
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="w-100">
        <table class="table my-0 table-sm" id="dataTable">
          <thead class="thead-light">
          <tr>
            <th>Nazwa</th>
            <th>Ocena</th>
          </tr>
          </thead>
          <tbody>
          <tr style="cursor:pointer" *ngFor="let item of grades; let i = index">
            <td>{{item.name}}</td>
            <td style="text-overflow: ellipsis;">
              <p
                style="text-overflow: ellipsis;">
                {{item.value}}</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #modalChangeGroup let-close="close">
  <div class="modal-header">
    <h5 class="modal-title text-gray-900">Zmiana terminu zajęć</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-secondary text-gray-800">Twoje wnioski o zmianę terminu:</p>
    <small *ngIf="myChangeGroupRequest === null">(Nie masz żadnych wniosków)</small>
    <div *ngIf="myChangeGroupRequest !== null" class="list-group">
      <div class="list-group-item">
        <div class="row">
          <div class="col-9 d-flex align-items-center">
            <p> Wniosek o zmianę terminu na: {{myChangeGroupRequest.date | dayofweek}}
              &nbsp;{{myChangeGroupRequest.date | date:'H:mm'}}, prowadzący: {{myChangeGroupRequest.teacher}}</p>
          </div>
          <div class="col-3 text-md-right">
            <button class="btn btn-sm btn-secondary" (click)="onRemoveGroupChangeRequest()">&times;&nbsp;Anuluj wniosek</button>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <p class="text-gray-800">Dostępne terminy:</p>
    <div class="list-group">
      <div class="list-group-item">
        <div *ngFor="let item of availableGroups; let i = index" class="row">
          <div class="col-8 d-flex align-items-center">
            {{item.date | dayofweek}}&nbsp;{{item.date | date:'H:mm'}}, prowadzący: {{item.teacher}}
          </div>
          <div class="col-4 text-md-right">
            <button class="btn btn-sm btn-primary" (click)="onChangeGroupClicked(item)">
              <fa-icon [icon]="faCheck"></fa-icon>&nbsp;&nbsp;Wybierz termin
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>



