

<div class="m-3">

  <ul class="nav nav-tabs">
    <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="../grades">Oceny</a></li>
    <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="../info">Informacje ogólne</a></li>
    <li class="nav-item"></li>
  </ul>
  <div *ngIf="router.url.endsWith('grades')">
    <div class="m-3" *ngIf="authService.currentUserValue.isStudent === true">
      <app-course-grades-student></app-course-grades-student>
    </div>
    <div class="m-3" *ngIf="authService.currentUserValue.isStudent === false">
      <app-course-grades-teacher></app-course-grades-teacher>
    </div>
  </div>
  <div  *ngIf="router.url.endsWith('info')">
      <app-course-info></app-course-info>
  </div>
</div>
