<div class="container-fluid">
  <app-team-header [title]="team.title"></app-team-header>
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active">Zespół</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="calendar">Kalendarz zespołu</a></li>
    <li class="nav-item"></li>
  </ul>
  <div class="mx-2 my-5">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="text-primary font-weight-bold m-0">
          <fa-icon [icon]="faQuestionCircle"></fa-icon>
          Informacje ogólne
        </h6>
      </div>
      <div class="card-body shadow">
        <p class="">Temat: {{team.title}}</p>
        <p class="small">Opis: {{team.description}}</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-7">
        <div class="card shadow mb-5">
          <div class="card-header py-3">
            <div class="row">
              <div class="col-md-6 text-nowrap">
                <p class="m-0 font-weight-bold text-primary">
                  <fa-icon class="m-1" [icon]="faFileAlt"></fa-icon>
                  Materiały
                </p>
              </div>
              <div class="col-md-6">
                <div class="text-md-right">
                  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                    <fa-icon class="m-1" [icon]="faPlus"></fa-icon>
                    Dodaj
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                       aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            <fa-icon class="m-1" [icon]="faFileAlt"></fa-icon>
                            Prześlij plik
                          </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form class="text-left">
                            <div>
                              <label class="btn btn-light" for="file-input">Wybierz
                                plik</label><span>{{fileName}}</span>
                              <input id="file-input" hidden type="file" (change)="onFileSelected($event.target)"/>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Anuluj</button>
                          <button (click)="onSaveFileClicked()" data-dismiss="modal" type="button"
                                  class="btn btn-primary btn-sm">Zapisz
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                Ten zespół nie ma żadnych materiałów.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row">
          <div class="col">
            <app-team-members [members]="team.members"></app-team-members>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
