<div class="card shadow mb-3">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-6 text-nowrap">
        <p class="m-0 font-weight-bold text-primary">
          <fa-icon class="m-1" [icon]="faUser"></fa-icon>
          Członkowie zespołu
        </p>
      </div>
      <div class="col-md-6">
        <div class="text-md-right">
          <button *ngIf="!isEditingModeOn && isCurrentUserTeacher" class="btn btn-primary btn-sm"
                  (click)="onEditClicked()">
            <fa-icon class="m-1" [icon]="faPencil"></fa-icon>
            Edytuj
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <app-members-autocomplete [members]="members" [isEditingModeOn]="false"></app-members-autocomplete>
    <div *ngIf="isEditingModeOn" class="text-md-right">
      <button class=" mx-1 btn btn-secondary btn-sm" type="submit" (click)="onCancelClicked()">Anuluj</button>
      <button class="btn btn-primary btn-sm" type="submit" (click)="onSaveClicked()">Zapisz</button>
    </div>
  </div>
</div>
