<div class="card shadow mb-3">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-6 text-nowrap">
        <p class="m-0 font-weight-bold text-primary">
          <fa-icon class="m-1" [icon]="faUser"></fa-icon>
          Członkowie zespołu
        </p>
      </div>
      <div class="col-md-6">
        <div class="text-md-right">
          <button *ngIf="!isEditingModeOn && isCurrentUserTeacher" class="btn btn-primary btn-sm"
                  (click)="onEditClicked()">
            <fa-icon class="m-1" [icon]="faPencil"></fa-icon>
            Edytuj
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="isEditingModeOn" class="input-group">
      <form class="example-form mx-3">
        <span><fa-icon [icon]="faSearch"></fa-icon></span>
        <input type="text"
               placeholder="Dodaj członka grupy"
               class="input-group-append align-items-center bg-light border-0 p-2 mx-1 d-inline border"
               [formControl]="myControl"
               [matAutocomplete]="auto"/>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngIf="isLoading">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </mat-option>
          <mat-option (click)="optionClicked(option)" *ngFor="let option of autoCompleteItems | async"
                      [value]="option.firstname + ' ' + option.lastname">
            {{option.firstname}} {{option.lastname}}
          </mat-option>
        </mat-autocomplete>
      </form>
    </div>
    <ol>
      <li class="my-1" *ngFor="let item of members; let i = index"> {{item.firstname}} {{item.lastname}}
        (<small>{{item.username}}</small>)&nbsp;&nbsp;<fa-icon (click)="onRemoveMemberClicked(item, i)"
                                                               *ngIf="isEditingModeOn" class="pointer text-danger"
                                                               [icon]="faTimes"></fa-icon>
      </li>
    </ol>
    <div *ngIf="isEditingModeOn" class="text-md-right">
      <button class=" mx-1 btn btn-secondary btn-sm" type="submit" (click)="onCancelClicked()">Anuluj</button>
      <button class="btn btn-primary btn-sm" type="submit" (click)="onSaveClicked()">Zapisz</button>
    </div>
  </div>
</div>
