<div class="container-fluid">
  <button routerLink="/teams" class="btn btn-circle btn-secondary btn-sm mx-1"><</button>
  <small>Wróć do listy</small>
  <h5 class="text-dark mt-2 mb-4 text-center">Projekt zespołowy</h5>
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" routerLink="../">Zespół</a></li>
    <li class="nav-item"><a class="nav-link active">Kalendarz zespołu</a></li>
    <li class="nav-item"></li>
  </ul>
  <div class="mx-2 my-5">
    <p class="">Tu będzie kalendarz</p>
  </div>
</div>

