<div id="content-wrapper">
  <div id="content" class="d-flex flex-column">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
          <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-lg-6 d-none d-lg-flex">
                  <div class="flex-grow-1 bg-login-image" id="bg-login-image"></div>
                </div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h4 class="text-dark mb-4">Wirtualna Uczelnia</h4>
                      <p class="text-dark mb-4">Witaj ponownie!</p></div>
                    <form class="user">
                      <div class="form-group"><input class="form-control form-control-user" type="email"
                                                     id="exampleInputEmail" aria-describedby="emailHelp"
                                                     placeholder="Nazwa użytkownika" name="text"></div>
                      <div class="form-group"><input class="form-control form-control-user" type="password"
                                                     id="exampleInputPassword" placeholder="Hasło" name="password">
                      </div>
                      <button class="btn btn-primary btn-block text-white btn-user" type="submit">Zaloguj się</button>
                      <hr>
                    </form>
                    <div class="text-center"><a class="small" href="#">Nie pamiętasz hasła?</a></div>
                    <div class="text-center"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-wrapper">
    <app-footer></app-footer>
  </div>
</div>
